/**
 * Author: courtneyspurgeon
 * Author URI: http://courtneyspurgeon.com
**/

 /* Custom Styles for main layout/fonts/colors */

/* ======================= Page Layout ======= */
#page {margin: 0 auto 2%;}
a { color: #1A72C9;}

/* ======================= Headers =========== */

#utility-top { 
    margin: 10px auto 0;
    background: #f8f8f8;
  }
  #utility-top input[type="text"], 
  #utility-top input[type="submit"] { height: 2.2em; padding: 0px 10px;}

.secondary-nav li a { margin: 0.4em 0 }  
.secondary-nav {max-width: 65%;}
.brand { max-width: 50%; margin-bottom: 2em; }

/* ======================= Homepage Content === */
.home-page .section-title {margin-bottom: 0px;}
.home-page .row > p,
.homepage-grid .section-title + p,
.homepage-grid .column > br  {display: none;} /* hiding strange empty p and br tags the cms inserts */
.home-page .focus-content .section-title {overflow: hidden;}
.home-page .focus-content .section-title span {float: left;}
.home-page .entry-content .half {
  width: 45.484848%;
  margin-right: 5.030303%
  }
.home-page .entry-content .half.last {
  margin-right: 0px; 
  width: 49.484848%;
  }
.section-title span {display: inline-block;}
.home-page .entry-list-left .entry-thumb {max-height: 115px; overflow: hidden;}
.home-page .column.half .one-col { border-bottom: 0;}
.home-page .column.half div + div + div { border-bottom: 0; }
.ad-row { 
  border-top: 1px solid #e5e5e5; 
  border-bottom: 1px solid #e5e5e5; 
  margin-top: -20px;
  margin-bottom: 20px;
  height: 130px;
  }
.homepage-grid .section-title { margin-bottom: 0px;}
.homepage-grid .ss-label { display: block; text-align: center;}

/* news and gallery */
.ss-label {background: #F7E0A9; color: #000;}
.ss-label.red, .ss-label.green, .ss-label.aqua, .ss-label.brown, .ss-label.orange {color: #fff;}
.homepage-grid .gallery,
.homepage-grid .news { width: 31%; border-style: solid; border-width: 2px; margin-bottom: 5px;}
.homepage-grid .gallery .ss-label,
.homepage-grid .news .ss-label { color: #fff;}
.homepage-grid .gallery .entry-content,
.homepage-grid .news .entry-content { padding: 0 10px;}
.homepage-grid .gallery .entry-grid,
.homepage-grid .news .entry-grid  { border-bottom: 0px; margin-bottom: 0px;}
.homepage-grid .gallery { background: #D7ECFD; border-color: #0099ff; }
.homepage-grid .news { background: #BFFFE3; border-color: #33cc99;}

/* This day in History Widget */
.tdih_list { list-style: none; margin-left: 0px; margin-bottom: 10px;}
.tdih_list li + li {display: none;}
.tdih_year { font-weight: bold; }
.ad-row .widgettitle + p {display: none;}


/* ======================= Meta content =======
    2013.06.17 Added by Rob Brennan
*/
.entry-meta a, .widget .entry-meta a{
    display: inline-block;
    background: rgba(240, 240, 240, 1);
    padding: 0 0.5em;
    font-weight: normal;
    font-style: normal;
    color: #999999;
    border-radius: 5px;

}
.entry-meta a:hover, 
.widget .entry-meta a:hover {background-color: #333; color: #fff;}

/* ======================= Post Content ======= */
.post-thumb {
  position: relative; 
  margin-bottom: 1em; 
  max-height: 200px; 
  overflow: hidden;
}
.entry-content h3 { font-size: 1.3em; line-height: 1.4;}
.entry-content p {margin-bottom: 1em;}
.entry-content .entry-meta { font-size: .9em; margin-bottom: 1em;}
.new-tag {
  background: #FFFD9D;
  padding: 2px 5px;
  text-transform: capitalize;
  border-radius: 5px;
  font-size: .7em;
}
/* differentiating original content */
.post.original-article { background: #EDEDED;}
.post.original-article .entry-content{ padding: 0 10px;}
.post.original-article .entry-meta a { background: #888; color: #fff;}
.post.original-article .entry-meta a:hover { background: #fff; color: #000; }
.post-thumb .banner-tag {
  background: #222;
  position:absolute;
  top: 22px;
  right: 120px;
  text-align: center;
  padding: .2em;
  width: 100%;
  color: #fff;
  transform:rotate(315deg);
  -ms-transform:rotate(315deg); /* IE 9 */
  -webkit-transform:rotate(315deg); /* Safari and Chrome */
  box-shadow: 2px 3px 5px #888888;
  -webkit-box-shadow: 2px 3px 5px #888888;
}
.post-thumb .banner-tag.hi-five {
  background: #FEEA63;
  color: #000;
}
/* post-type tag/blurbs */
.post-type {
  display: inline-block;
  color: #fff;
  padding: .1em .5em;
  border-radius: 5px;
  text-transform: capitalize;
  background-color: #B94046;
}
.post-type.blog {background-color: #AEE4AE;}
.post-type.scholarly {background-color: #5D96DD;}
.post-type.news {background-color: #5D96DD;}

/* ======================= General Sidebar ======= */
#sidebar .post-list .post-thumb { overflow: hidden; max-height: 80px;}

/* ======================= Article Page ======= */
/* image */
.entry-header img.wp-post-image {margin-bottom: 0;}
.entry-header .main-image {margin-bottom: 1.5em;}
.main-image span {color: #999;}
.main-image span a {color: #777; text-decoration: underline;}

.single-post .entry-title .post-type { font-size: .7em; padding: .1em .5em .2em;}
.single-post .entry-content a {text-decoration: underline;}
a.read-more {
  display: inline-block;
  background: rgba(240, 240, 240, 1);
  padding: .3em 1em;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
}
a.read-more:hover {background: #333; color: #fff;}
.author-info {margin-top: -7px;}
.author-info .more-link {font-size: .7em; margin-left: 7px;}

/* comments */
#respond h3 {margin-bottom: 0em;}
#respond p.logged-in-as,
#respond p.comment-form-comment,
#respond p.form-allowed-tags {margin-bottom: .8em;}

/* related posts */
.related-posts .rp-thumb {max-height: 94px; overflow: hidden;}
#sidebar .related-posts li { float: none; width: 100%; clear: both; overflow: hidden;}
#sidebar .related-posts li .rp-thumb {width: 33%; float: left; margin-right: 10px;}
#sidebar .related-posts li h4 { }

/* ======================= Article Sidebar ======= */
.related-posts h3,
.widgettitle,
.sb-title,
h3.sb-title {
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: .5em;
  color: #999;
  padding-top: 10px;
}
#sidebar .wpfp-span {
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: .5em;
  color: #999;
  padding-top: 10px;
}
#sidebar .wpfp-span a { color: #999;}
#sidebar .wpfp-img {margin-top: .3em; }
.wpfp-img { float: left; }

/* sharing sidebar */
.ss-sharing-container {border-bottom: 0px; margin-bottom: 1em;}
.fb-like, .ss-sharing-btn { padding: 0px; border-right: 0px;}

/* conversation sidebar */
#sidebar .bbp-breadcrumb,
#sidebar label#bbp_forum_id,
#sidebar #bbpress-forums .select_forum,
#sidebar #bbpress-forums .topic_type,
#sidebar #bbpress-forums .form-title,
#sidebar #bbpress-forums label[for=bbp_forum_id],
#sidebar #bbpress-forums label[for=bbp_stick_topic],
#sidebar #bbpress-forums fieldset legend {display: none;} /* hide extra elements */

/* tighten spacing */
#sidebar #bbpress-forums { border: 0px; margin-bottom: 0px; }
#sidebar #bbpress-forums input { line-height: 1.2em; height: auto; padding: 0.4em 0.5em}
#sidebar #bbpress-forums textarea { height: 200px; max-width: 98%;}
#sidebar #bbpress-forums .bbp-submit-wrapper { margin-top: 0px;}

/* hide template notice UNLESS it is the login notice */
#sidebar #bbpress-forums .bbp-template-notice {display: none;}
#sidebar #bbpress-forums .bbp-no-topic .bbp-template-notice,
#sidebar #bbpress-forums .bbp-template-notice.error {display: block;}


/* ======================= Category Browse ==== */
#category_list ul {list-style-type: none;}
#category_list ul ul {padding-left: 30px;}
#category_list .cat-item > a {font-size: 1.4em;}
#category_list .cat-item .count {margin-left: 10px; margin-top: -10px;}
#category_list .cat_thumbnails {
  height: 80px; 
  overflow: hidden;
  padding: 10px 0;
  border-top: 2px solid #ddd;
}
#category_list .cat_thumbnails img {float: left; margin-right: 15px; max-height: 100%; max-width: 80px;}
#category_list .cat-item .count {font-size: .7em;}

/* ======================= Category View ==== */
.section-title.header-title { font-size: 1.7em; border-bottom: 1px solid #ddd;}
.section-title.header-title.sub-section {border-top: 1px solid #ddd; margin-top: 20px;}
.flex-viewport .entry-grid {margin-bottom: 0px;}

/* Post Navigation */
#nav-above {
  clear: both;
  position: relative;
  overflow: hidden;
  margin: .5em 0 0em;
  float: right;
  width: 35%;
}
#nav-above .nav-previous,
#nav-above .nav-next {float: right; text-align: right;}

#nav-above a,
#nav-above a:visited,
.more-link,
.more-link:visited {
  color: #999;
}

#nav-above a:hover,
.more-link:hover {
  color: #333;
}

/* ======================= Footer ============== */
.notes-left {width: 100%; text-align: center;}
#menu-footer-menu {margin: 0px auto 0px; text-align: center;}
#secondary #menu-footer-menu li {
  border-bottom: 0px;
  border-left: 1px solid #e9e9e9;
  padding: 0 5px;
  display: inline-block;
}
#secondary #menu-footer-menu li:first-child { border-left: 0px;}
#secondary .widget_nav_menu {  }
#secondary .column.full-width {width: 100%;}
/* ======================= Tool Classes ======== */
.clear {clear: both; }

/* ======================= Terms of Service ======== */
.standard-form #tos.register-section{
    float: left;
    width: 48%;
}

.standard-form#tos label,
.standard-form#tos span.label {
    display: block;
    font-weight: bold;
    margin: 15px 0 5px 0;
}

/* Responsive fixes: */
@media only screen and (max-width: 768px) {

  .secondary-nav .sec-menu,
  .primary-nav ul.nav-menu {
    display: block;
  }
}

/* Staff List */
div.staff .entry-title {}
.author .post-thumb {max-height: 200px; max-width: 200px;}

/* ======================= Events ======== */
.timely .ai1ec-calendar-toolbar {display: none;}

/* ======================= Buddypress ======== */
.activity div.wpfp-span ul {list-style-type: none; margin-left: 0px;}
.activity div.wpfp-span li {
  position: relative; 
  padding: 10px 60px 10px 10px;
  border-bottom: 1px solid #ddd;
}
.activity div.wpfp-span ul .remove-parent { position: absolute; top: 10px; right: 30px; text-transform: capitalize;}
