/**
 * Author: courtneyspurgeon
 * Author URI: http://courtneyspurgeon.com
**/

 /* Custom Styles for main layout/fonts/colors */

 /* ======================= Header ============ */
 .secondary-nav {max-width: 65%;}
 .brand { max-width: 50%;}

/* ======================= Featured Content === */
/*article {
  box-shadow: 0px 0px 5px #888888;
}*/
#featured_content .post-thumb { border-bottom: 5px solid #e00000; }
#primary #content .post-thumb { border-bottom: 5px solid #0099ff; }

.large-feature {
  padding: 10px 0;
  }
  .large-feature .post-content {
    width: 30%; 
    float: left;
    margin-left: 0px;
    }
  .large-feature .post-thumb {
    width: 65%; 
    float: left;
    margin-left: 3%;
    }
    /* .large-feature .post-thumb img {max-height: 400px;} */



/* ======================= Meta content =======
    2013.06.17 Added by Rob Brennan
*/
.entry-meta a, .widget .entry-meta a{
    display: inline-block;
    background: rgba(243, 208, 54, 0.3);
    padding: 0 0.5em;
    font-weight: normal;
    font-style: normal;
    color: #999999;
    border-radius: 5px;

}

/* ======================= Post Content ======= */


/* ======================= Category Browse ==== */
#featured-categories .span3 .brthumbnail, #all-categories .span3 .brthumbnail {
  margin: 0 auto;
  width: auto;
  text-align: center;
  line-height: 0; }

#featured-categories .span3 .brthumbnail img, #all-categories .span3 .brthumbnail img {
  margin: 5px; }
