/**
 * Author: courtneyspurgeon
 * Author URI: http://courtneyspurgeon.com
**/

 /* Custom Styles for main layout/fonts/colors */

 /* ======================= Header ============ */
 .secondary-nav {max-width: 65%;}
 .brand { max-width: 50%;}

/* ======================= Featured Content === */
/*article {
  box-shadow: 0px 0px 5px #888888;
}*/
/*#featured_content article .post-thumb { border-bottom: 5px solid #e00000; }*/

#featured_content .post-thumb,
#primary #content .post-thumb { 
  height: 200px;
  overflow: hidden;
  }
  #featured_content .post-thumb img,
  #primary #content .post-thumb img {
    height: 100%;
    margin: auto;
    max-width: 320px;
    }  

.large-feature {
  padding: 10px 0;
  }
  .large-feature .post-content {
    width: 30%; 
    float: left;
    margin-left: 0px;
    }
  .large-feature .post-thumb {
    width: 65%; 
    float: left;
    margin-left: 3%;
    }
    /* .large-feature .post-thumb img {max-height: 400px;} */
#featured_content .entry-grid,
#featured_content .entry-classic {border-bottom: 0px;}
#featured_content {border-bottom: 1px solid #e5e5e5; margin-bottom: 1.5em;}


/* ======================= Meta content =======
    2013.06.17 Added by Rob Brennan
*/
.entry-meta a, .widget .entry-meta a{
    display: inline-block;
    background: rgba(243, 208, 54, 0.3);
    padding: 0 0.5em;
    font-weight: normal;
    font-style: normal;
    color: #999999;
    border-radius: 5px;

}

/* ======================= Post Content ======= */


/* ======================= Category Browse ==== */


/* ======================= Tool Classes ======== */
.clear {clear: both;}
