/**
 * Author: courtneyspurgeon
 * Author URI: http://courtneyspurgeon.com
**/

 /* Custom Styles for main layout/fonts/colors */

/* ======================= Page Layout ======= */
#page {margin: 0 auto 2%;}

/* ======================= Headers =========== */

#utility-top { 
    margin: 10px auto 0;
    background: #f8f8f8;
  }
  #utility-top input[type="text"], 
  #utility-top input[type="submit"] { height: 2.2em; padding: 0px 10px;}

.secondary-nav li a { margin: 0.4em 0 }  
.secondary-nav {max-width: 65%;}
.brand { max-width: 50%; margin-bottom: 2em; }

/* ======================= Homepage Featured Content === */
.home-page .entry-content .half {
  width: 45.484848%;
  margin-right: 5.030303%
  }
.home-page .entry-content .half.last {
  margin-right: 0px; 
  width: 49.484848%;
  }
.home-page .entry-content .section-title span {display: inline-table;}
.home-page .entry-list-left .entry-thumb {max-height: 115px; overflow: hidden;}
.home-page .column.half .one-col { border-bottom: 0;}
.home-page .column.half div + div + div { border-bottom: 0; }
.ad-row { 
  border-top: 1px solid #e5e5e5; 
  border-bottom: 1px solid #e5e5e5; 
  margin-top: -20px;
  margin-bottom: 20px;
  height: 130px;
  }

/* This day in History Widget */
.tdih_list { list-style: none; margin-left: 0px; margin-bottom: 10px;}
.tdih_list li + li {display: none;}
.tdih_year { font-weight: bold; }
.ad-row .widgettitle + p {display: none;}


/* ======================= Meta content =======
    2013.06.17 Added by Rob Brennan
*/
.entry-meta a, .widget .entry-meta a{
    display: inline-block;
    background: rgba(240, 240, 240, 1);
    padding: 0 0.5em;
    font-weight: normal;
    font-style: normal;
    color: #999999;
    border-radius: 5px;

}
.entry-meta a:hover, 
.widget .entry-meta a:hover {background-color: #333; color: #fff;}

/* ======================= Post Content ======= */
.post-thumb {
  position: relative; 
  margin-bottom: 1em; 
  max-height: 200px; 
  overflow: hidden;
}
.entry-content h3 { font-size: 1.3em; line-height: 1.4;}
.entry-content p {margin-bottom: 1em;}
.entry-content .entry-meta { font-size: .9em; margin-bottom: 1em;}
.new-tag {
  background: #FFFD9D;
  padding: 2px 5px;
  text-transform: capitalize;
  border-radius: 5px;
  font-size: .7em;
}
.post-type {
  display: inline-block;
  color: #fff;
  padding: .1em .5em;
  border-radius: 5px;
  text-transform: capitalize;
  background-color: #B94046;
}
.post-type.blog {background-color: #AEE4AE;}
.post-type.scholarly {background-color: #5D96DD;}
.post-type.news {background-color: #5D96DD;}

/* ======================= General Sidebar ======= */
#sidebar .post-list .post-thumb { overflow: hidden; max-height: 80px;}

/* ======================= Article Page ======= */

.single-post .entry-title .post-type { font-size: .7em; padding: .1em .5em .2em;}
.single-post .entry-content a {text-decoration: underline;}
a.read-more {
  display: inline-block;
  background: rgba(240, 240, 240, 1);
  padding: .3em 1em;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
}
a.read-more:hover {background: #333; color: #fff;}
.author-info {margin-top: -7px;}
.author-info .more-link {font-size: .7em; margin-left: 7px;}

/* comments */
#respond h3 {margin-bottom: 0em;}
#respond p.logged-in-as,
#respond p.comment-form-comment,
#respond p.form-allowed-tags {margin-bottom: .8em;}

/* related posts */
.related-posts .rp-thumb {max-height: 94px; overflow: hidden;}
#sidebar .related-posts li { float: none; width: 100%; clear: both; overflow: hidden;}
#sidebar .related-posts li .rp-thumb {width: 33%; float: left; margin-right: 10px;}
#sidebar .related-posts li h4 { }

/* ======================= Article Sidebar ======= */
.related-posts h3,
.widgettitle,
.sb-title,
h3.sb-title {
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: .5em;
  color: #999;
  padding-top: 10px;
}

/* sharing sidebar */
.ss-sharing-container {border-bottom: 0px; margin-bottom: 1em;}
.fb-like, .ss-sharing-btn { padding: 0px; border-right: 0px;}

/* conversation sidebar */
#sidebar .bbp-breadcrumb,
#sidebar label#bbp_forum_id,
#sidebar #bbpress-forums .select_forum,
#sidebar #bbpress-forums .topic_type,
#sidebar #bbpress-forums .form-title,
#sidebar #bbpress-forums label[for=bbp_forum_id],
#sidebar #bbpress-forums label[for=bbp_stick_topic],
#sidebar #bbpress-forums fieldset legend {display: none;} /* hide extra elements */

/* tighten spacing */
#sidebar #bbpress-forums { border: 0px; margin-bottom: 0px; }
#sidebar #bbpress-forums input { line-height: 1.2em; height: auto; padding: 0.4em 0.5em}
#sidebar #bbpress-forums textarea { height: 200px; max-width: 98%;}
#sidebar #bbpress-forums .bbp-submit-wrapper { margin-top: 0px;}

/* hide template notice UNLESS it is the login notice */
#sidebar #bbpress-forums .bbp-template-notice {display: none;}
#sidebar #bbpress-forums .bbp-no-topic .bbp-template-notice,
#sidebar #bbpress-forums .bbp-template-notice.error {display: block;}


/* ======================= Category Browse ==== */
h1.section-title { margin-bottom: 0em; color: rgb(85, 85, 85);}
.section-title + p {font-size: 1.2em;}
#category_list ul {list-style-type: none;}
#category_list ul ul {padding-left: 30px;}
#category_list .cat-item > a {font-size: 1.4em;}
#category_list .cat-item .count {margin-left: 10px; margin-top: -10px;}
#category_list .cat_thumbnails {
  height: 80px; 
  overflow: hidden;
  padding: 10px 0;
  border-top: 3px solid #ddd;
}
#category_list .cat_thumbnails img {float: left; margin-right: 15px; max-height: 100%; max-width: 80px;}

/* ======================= Footer ============== */
.notes-left {width: 100%; text-align: center;}
#menu-footer-menu {margin: 0px auto 0px; text-align: center;}
#secondary #menu-footer-menu li {
  border-bottom: 0px;
  border-left: 1px solid #e9e9e9;
  padding: 0 5px;
  display: inline-block;
}
#secondary #menu-footer-menu li:first-child { border-left: 0px;}
#secondary .widget_nav_menu {  }
#secondary .column.full-width {width: 100%;}
/* ======================= Tool Classes ======== */
.clear {clear: both; }

/* ======================= Terms of Service ======== */
.standard-form #tos.register-section{
    float: left;
    width: 48%;
}

.standard-form#tos label,
.standard-form#tos span.label {
    display: block;
    font-weight: bold;
    margin: 15px 0 5px 0;
}

/* Responsive fixes: */
@media only screen and (max-width: 768px) {

  .secondary-nav .sec-menu,
  .primary-nav ul.nav-menu {
    display: block;
  }
}

/* Staff List */
div.staff .entry-title {}
