/*
  Stylesheet loaded only on the login page
*/
div#login h1 a {
  text-indent: 0;
  color: #333;
  text-decoration: none;
  background: transparent;
  height: auto;
  width: auto;
  overflow: visible;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: -0.02em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}